h2 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem 4rem;
}
.ball {
  width: 300px;
  height: 300px;
  background: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 3px 20px white;
  position: relative;
}
.shaking {
  animation-name: shake;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
button {
  width: 5rem;
  height: 2rem;
  margin: 1rem;
  text-transform: uppercase;
  background: #3f51b5;
  color: white;
  border-radius: 4px;
}
.message {
  background-color: #3f51b5;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 100px;
  height: 100px;
  box-shadow: inset 4px 3px 20px #0c1339;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.shaking-message {
  background-color: #202e7b;
}
.text {
  color: aliceblue;
  width: 50px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 13px;
}
.shaking-text {
  display: none;
  color: transparent;
}
@keyframes shake {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -100px;
    top: 100px;
  }
  50% {
    left: 100px;
    top: -100px;
  }
  75% {
    left: -100px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
